*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(231, 189, 195);
}
h2{
    text-align: center;
}
.container{
    max-width: 900px;
    margin: 0 auto;

}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: rgb(168, 107, 224);
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
}
.form_container{
    margin-top: 50px;
    display: grid;
     grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
     gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
}
input , select , textarea{
    padding: 6px 10px;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    font-size: 10px;
}
.button_container{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    
}
button{

    border:transparent solid 2px;
    background-color:plum ;
    padding: 5px 10px;
    border-radius: 14px;
    transition: 0.3s ease-in;
}
input:focus{
    outline-color: blueviolet;
}
button:hover{
    background-color: aqua;
    border: 2px solid gray;
    transition: 0.3s ease-in;
    cursor: pointer;
}
.textarea_control{
    grid-column: 1 /span 2;
}
.textarea_control textarea{
     width: 100%;
}